My_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -480,
        -140
      ],
      "id": "f4b31513-e1b7-485b-86dc-20357f177228",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "12FmbrerzY40xR8cLUsEJSqdYTkC_6NiRLAT39jLgvfg",
          "mode": "list",
          "cachedResultName": "Linkedin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12FmbrerzY40xR8cLUsEJSqdYTkC_6NiRLAT39jLgvfg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "wf1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12FmbrerzY40xR8cLUsEJSqdYTkC_6NiRLAT39jLgvfg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "Title": "Data Analyst"
          },
          "matchingColumns": [
            "Title"
          ],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date and time",
              "displayName": "Date and time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Linkedin email",
              "displayName": "Linkedin email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Summary",
              "displayName": "Company Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Publish date",
              "displayName": "Publish date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -260,
        -140
      ],
      "id": "dcbafc63-7d74-4c36-87f5-f48f0240c0a6",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xpJTaAVQGRilIIta",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Company Name"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -40,
        -140
      ],
      "id": "3fafffdf-d38b-4841-ad4d-61fd3176bfa0",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "url": "https://rss.app/feeds/n5Z05maCEk79X7Rt.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        180,
        -140
      ],
      "id": "88cea2fb-277e-4b61-8a66-77ba086860af",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "maxItems": 25
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        400,
        -140
      ],
      "id": "fbaaf5eb-ac89-4ba1-bd17-e299273140bd",
      "name": "Limit"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "title",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        600,
        -140
      ],
      "id": "84588c8a-7e0c-4548-bd1d-2183c5497227",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "12FmbrerzY40xR8cLUsEJSqdYTkC_6NiRLAT39jLgvfg",
          "mode": "list",
          "cachedResultName": "Linkedin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12FmbrerzY40xR8cLUsEJSqdYTkC_6NiRLAT39jLgvfg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "wf1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12FmbrerzY40xR8cLUsEJSqdYTkC_6NiRLAT39jLgvfg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $json.title }}",
            "Date and time": "={{ $json.isoDate }}",
            "Linkedin email": "={{ $json.link }}",
            "Company Summary": "={{ $json.contentSnippet }}",
            "Publish date": "={{ $json.pubDate }}"
          },
          "matchingColumns": [
            "Title"
          ],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date and time",
              "displayName": "Date and time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Linkedin email",
              "displayName": "Linkedin email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Summary",
              "displayName": "Company Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Publish date",
              "displayName": "Publish date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        800,
        -140
      ],
      "id": "89755ac0-b699-4f76-83b7-68517c9d9a4f",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xpJTaAVQGRilIIta",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9d7ca691-1808-4a01-8aee-04baa9e4a9a0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d05aab53754f92a5fee7339e4c61027b1a852bd1c1b236e9c93ab7db50737477"
  },
  "id": "wcicyx1uhMJKBQrV",
  "tags": []
}